
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.infinite{
    width: 100%;
    height: 100%;
    background: white;
}
.infinite div{
    background: white;
    width: 100%;
    height: 100%;
}
.responsive {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.myImg:hover {opacity: 0.7;}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10%;
    background-color: #efefef;
    text-align: center;
}
#divElement{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    z-index: 100;
    margin: auto;

}​

.transparent {
    /*background-color: rgba(255,255,255,0.5);*/
}

body, html {
    height: 100%;
    margin: 0;
}
.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileInfo{
    color: rgba(255,255,255,0.4);
    font-weight: bold;
}